.title {
    margin: 0;
}

.date {
    color: #000000;
    font-size: .8rem;
    font-style: italic;
}

.content {
    margin-bottom: 3rem;
}

.tags {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // justify-content: space-evenly;
    margin: 1.5rem;
    li {
        margin: 0;
        // display: inline-block;
        font-size: 0.9rem;
        .tag {
           margin-right: 0.5rem;
        }    
    }

    .viewall {
        a {
            color: #ffffff;
            background: #484384;
            padding: 0.2rem;
            border-radius: 0.5rem;
        }
    }
}

a {
    text-decoration: none;
}

pre, code {
    background: #e4e4e4;
    padding: 0.3rem;
    overflow: auto;
}

blockquote {
    border-left: 0.5rem solid #f7b835;
    background: #e4e4e4;
    padding: 0.3rem;
}