.title {
    margin: 0;
}

.date {
    color: #050505;
    font-size: .8rem;
    margin-bottom: 0.5rem;
}

.content {
    margin-bottom: 3rem;
}

.tags {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
    // justify-content: space-evenly;
    margin: 1.5rem;
    li {
        margin: 0;
        // display: inline-block;
        font-size: 0.9rem;
        .tag {
          margin-right: 1rem;
        }    
    }

}

pre, code {
    background: #e4e4e4;
    color: #dc5843;
    font-style: italic;
    padding: 0 0.3rem;
    border-radius: 0.2rem;
    overflow: auto;
}

blockquote {
    border-left: 0.8rem solid #001221;
    background: #6c9254;
    color: #ffffff;
    border-radius: 0.2rem;
    padding: 1.2rem;
    margin-left:0;
    margin-right: 0;
    overflow: auto;
}
