
.title {
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body {
    background-image: linear-gradient(#d0644d, #6c9254, #f1b148, #41a7ec);
}

.avi {
    color: #000000;    
    text-decoration: none;
}
