.center {
    text-align: center;
 }  

.blog-link { 
    padding: 0.4rem;
    background: #3895d3;
    border-radius: 0.3rem;
    color: #ffffff;

    a {
        text-decoration: none;
    }
}

.blog-link:hover {
    color: #ffffff;
}

 