.footer {
    margin-top: 3rem;
    
    
    ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: wrap;
    }

    ul li {
        display: block;
        margin-right: 1rem;
    }
}
